body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IdAll {
  border-style: solid;
  border-color: black;
  height: 140px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: flex;
}


.IdText {
  float: right;
  text-align: left;
}

.IdPhoto{
  float: left;
  padding: 5px;
}

.helloStatement{
  border-style: solid;
  border-color: black;
  border-width: 5px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.colouredBox{
  width: 400px;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-size: 18pt;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.boxHolder{
  margin: 50px auto 50px auto;
  width: 50%;
}

.creditCard{
  width: 400px;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.creditCardHolder{
  display: flex;
  justify-content: space-around;
}

.cardType{
  text-align: right;
  padding: 10px;
  font-size: 18pt;
  color: blue;
  font-weight: bolder;
}

.cardNumber{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24pt;
  font-weight: bolder;
}

.cardExpiry{
  margin: 0 0 0 20px;
  font-size: 14pt;
  text-align: left;
}